* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.icon {
  margin-left: 20px;
  cursor: pointer;
}
